<div class="container-round"
  data-controller="round-subscription"
  data-round-subscription-round-id-value="<%= @round.id %>">
  <div class="player">
    <div class="info-user">
      <h5>You're playing against <%= Participation.where(game: @game).where.not(user_id: current_user.id).map(&:user).first.username %></h5>
    </div>
  </div>
  <div class="playground d-flex">
    <div class="me-5 d-flex"><% @round.available_round_cards_for(current_user).each do |round_card| %>
        <% if round_card.participation_card.user_card.card.status.include?('alumni') %>
                    <%= render 'shared/game_card_alumni', card: round_card.participation_card.user_card.card %>
          <% elsif round_card.participation_card.user_card.card.status.include?('TA') %>
                    <%= render 'shared/game_card_ta', card: round_card.participation_card.user_card.card %>
          <% elsif round_card.participation_card.user_card.card.status.include?('Teacher') %>
                    <%= render 'shared/game_card_teacher', card: round_card.participation_card.user_card.card %>
          <% end %>
    <% end %></div>
    <div class="logo-wagycards"></div>
      <div class="ms-5 d-flex"><% @round.available_round_cards_for(@game.opponent_for(current_user)).each  do |round_card| %>
          <% if round_card.participation_card.user_card.card.status.include?('alumni') %>
                      <%= render 'shared/game_card_alumni', card: round_card.participation_card.user_card.card %>
            <% elsif round_card.participation_card.user_card.card.status.include?('TA') %>
                      <%= render 'shared/game_card_ta', card: round_card.participation_card.user_card.card %>
            <% elsif round_card.participation_card.user_card.card.status.include?('Teacher') %>
                      <%= render 'shared/game_card_teacher', card: round_card.participation_card.user_card.card %>
            <% end %>
        <% end %></div>
    </div>
  </div>
    <% if @round.available_round_cards_for(current_user).any? && @round.available_round_cards_for(@game.opponent_for(current_user)).empty? %>
    <hr>
    <div class="mr200">
      <%= link_to "refresh", next_round_path(@round.game.id), class: "login_btn"%>
    </div>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <% else %>
   <div class="player">
      <div class="cards" data-round-subscription-target="card">
      <% @participation.participation_cards.each do |participation_card| %>
          <% if participation_card.round_cards.empty? %>
          <%= link_to round_round_cards_path(@round.id, selected_card: participation_card.id), method: :post do %>
            <div data-action="click->round_card#select" data-target="card_click">
              <% if participation_card.user_card.card.status.include?('alumni') %>
                <%= render 'shared/game_card_alumni', card: participation_card.user_card.card %>
              <% elsif participation_card.user_card.card.status.include?('TA') %>
                <%= render 'shared/game_card_ta', card: participation_card.user_card.card %>
              <% elsif participation_card.user_card.card.status.include?('Teacher') %>
                <%= render 'shared/game_card_teacher', card: participation_card.user_card.card %>
              <% end %>
            </div>
        <% end %>
          <% else %>
              <% if participation_card.user_card.card.status.include?('alumni') %>
                <%= render 'shared/disabled_game_card_alumni', card: participation_card.user_card.card %>
              <% elsif participation_card.user_card.card.status.include?('TA') %>
                <%= render 'shared/disabled_game_card_ta', card: participation_card.user_card.card %>
              <% elsif participation_card.user_card.card.status.include?('Teacher') %>
                <%= render 'shared/disabled_game_card_teacher', card: participation_card.user_card.card %>
              <% end %>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>
