<div class="carousel">
  <% @cards.map do |card| %>
    <% if card.status.include?('alumni') %>
        <%= render 'shared/game_card_alumni', card: card %>
    <% elsif card.status.include?('TA') %>
      <%= render 'shared/game_card_ta', card: card %>
    <% elsif card.status.include?('Teacher') %>
      <%= render 'shared/game_card_teacher', card: card %>
    <% end %>
  <% end %>
</div>

<div class="main-background">
  <div class="main">
    <div class="main-btn">
      <%= link_to new_daily_booster_path do %>
        <input type="button" value="Get new cards" class="play_btn btn-effect">
      <% end %>
      <%= link_to user_cards_path do %>
          <input type="button" value="See my cards" class="play_btn btn-effect">
      <% end %>
      <%= link_to new_game_path do %>
          <input type="button" value="Play!" class="play_btn btn-effect">
      <% end %>
      <%= link_to cards_path do %>
          <input type="button" value="See all cards" class="play_btn btn-effect">
      <% end %>
    </div>

    <div class="container-charts">
      <div class="container-users">
          <div class="container-users-players">
            <p>Players</p>
          </div>
        <% @users.each do |user| %>
          <div>
            <% if user.online? == true %>
              <p> <%= user.username %> <span class="online"> online </span></p>
            <% else %>
              <p> <%= user.username %> <span class="offline"> offline </span></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="container-best-players">
        <p>Best players</p>
      </div>
    </div>
  </div>
</div>

<div class="container-show">
  <h2 class="show-title">Get to know more people...</h2>
  <div class="container-card-index">
    <% @cards.map do |card| %>
    <div class="card-index">
      <figure class="card-index__thumb">
        <img class="card-index__image"> <%= image_tag card.avatar, class:'bck'%>
        <figcaption class="card-index__caption">
          <h2 class="card-index__title"><%= card.first_name %> <%= card.last_name %></h2>
          <p class="card-index__snippet card-index-text"> to know better <%= card.first_name %> <%= card.last_name %> you can check his/her <%= link_to 'Github', card.github %>, went to <%= card.city %> le Wagon on <%= card.batch_date %> and was in #<%= card.batch %></p>
        <%= link_to card_path(card) do %>
          <p class="card-index__button"> Read more </p>
        <% end %>
        </figcaption>
      </figure>
    </div>
    <% end %>
  </div>
</div>
