<div class="card">
  <div class="card-img">
      <div class="card-avatar-border">
      <%= image_tag card.avatar, class:"card-avatar"%>
      <div class="card-status">
        <% if card.status.include?('TA') %>
          <p><%= card.status %></p>
        <% else %>
          <p><%= card.status.first.capitalize %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-infos">
    <div>
      <h5><%= card.first_name %> <%= card.last_name %></h5>
      <h6><%= card.status.capitalize %></h6>
    </div>

    <hr>

    <div class="card-infos-display">
       <div><%= card.city %></div>
       <div><%= link_to 'Github', card.github %></div>
    </div>

    <hr>

    <div>
      <h6>500 pts</h6>
    </div>

    <hr>

    <div>
      <div class="card-infos-center">#<%= card.batch %></div>
      <div class="card-infos-display">
        <p>Le wagon <%= card.city %></p>
        <p><%= card.batch_date %></p>
      </div>
    </div>

  </div>
</div>
