<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item-lewagon active">
            <%= link_to "Dashboard", root_path, class: "nav-link-lewagon" %>
          </li>
          <li class="nav-item-lewagon">
            <%= link_to "Play", new_game_path, class: "nav-link-lewagon" %>
          </li>
          <li class="nav-item-lewagon dropdown">
            <%= link_to "Cards", "", class: "nav-link-lewagon dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Daily boosters",  new_daily_booster_path, class: "dropdown-item" %>
              <%= link_to "All cards",  cards_path, class: "dropdown-item" %>
              <%= link_to "My cards", user_cards_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item-lewagon">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link-lewagon" %>
          </li>
        <% else %>
          <li class="nav-item-lewagon dropdown">
            <%= link_to "Profile", new_user_session_path, class: "nav-link-lewagon dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Login",  new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Register", new_user_registration_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
