<div class="small-card">
  <div class="small-card-sticker">
  <% if card.status.include?('TA') %>
    <p><%= card.status %></p>
  <% else %>
    <p><%= card.status.first.capitalize %></p>
  <% end %>
  </div>
  <div class="small-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%=asset_path(card.avatar)%>)">
    <p class="small-card-img-text"><%= card.first_name %> <%= card.last_name %></p>
  </div>
  <div class="small-card-infos">
    <div class="small-cards-infos-points">500</div>
  </div>
</div>
