<div class="home_container">

  <div class="banner parallax">
    <% if user_signed_in? %>
      <%= link_to "logout", destroy_user_session_path, class: "login_btn", method: :delete %>
    <% else %>
      <%= link_to "login", new_user_session_path, class: "login_btn" %>
    <% end %>
    <div class="glowing-text">
      <span>W</span><span>A</span><span>G</span><span>Y</span><span>C</span><span>A</span><span>R</span><span>D</span><span>S</span>

    </div>
  </div>
  <div class="home_intro">
    <h1>Collect your alumni!</h1>
    <h2>play with them and stay in touch</h2>
    <%= link_to rules_path do %>
      <input type="button" value="Play!" class="play_btn">
    <% end %>
    <div class="second_banner parallax">
    </div>
  </div>
  <%#
  <input type="button" value="begin" class="login_button">
  <p><%= f.button :submit, "Book my cutie", class:'btn btn-cutie btn-link' %>

  <div class="container-collect-begin">
    <h2>Collect, play and build your own project with your alumni</h2>
    <%= link_to user_signed_in? ? user_path(current_user) : new_user_session_path do %>
    <input type="button" value ="begin" class="begin-btn">
    <% end %>
    <h2>Cards collection</h2>
  </div>
  <div class="container-collection">
    <div class="card-intro-part">
        <% @card_alumni.map do |card| %>
          <%= render 'shared/game_card_alumni', card: card %>
        <% end %>
        <p class="red_circle mt-4"></p>
        <p><span class="card_point_description">card alumni :</span> from 1 to 9 points ! <br>depending on your batch number</p>
    </div>

    <div class="card-intro-part">
      <% @card_ta.map do |card| %>
        <%= render 'shared/game_card_ta', card: card %>
      <% end %>
      <p class="pink_circle mt-4"></p>
      <p><span class="card_point_description">card TA :</span> 10 points !</p>
    </div>

    <div class="card-intro-part">
      <% @card_teacher.map do |card| %>
        <%= render 'shared/game_card_teacher', card: card %>
      <% end %>
      <p class="gold_circle mt-4"></p>
      <p><span class="card_point_description">card teacher :</span> 11 points !</p>
    </div>

    <div class="card-intro-part">
      <% @card_founder.map do |card| %>
        <%= render 'shared/game_card_founder', card: card %>
      <% end %>
      <p class="gold_circle mt-4"></p>
      <p><span class="card_point_description">card founder :</span> 12 points !</p>
    </div>
  </div>


  <div class="home_presentation">
    <div class="pres-img">
      <div class="presentation_of">

        <div class="home_collection">
          <div class="info_text">
            <h3>Collect digital cards</h3>
            <div class="line"></div>
            <p>everyday collect your cards, raise your deck and see your collection</p>
          </div>
        </div>
        <div class="home_play">
          <div class="info_text">
            <h3>Play with them</h3>
            <div class="line"></div>
            <p>play with alumni from everywhere and collect new cards at each victory</p>
          </div>
        </div>
        <div class="home_connect">
          <div class="info_text">
            <h3>Connect with alumni</h3>
            <div class="line"></div>
            <p>connect with your alumni from everywhere, see their work and start a new collaboration</p>
          </div>
        </div>
      </div>

      <div class="collection-img">
        <%= image_tag("collect.png", alt:"collect people", height:"600px") %>
      </div>
    </div>
    <div class="btn-bottom">
      <%= link_to user_signed_in? ? user_path(current_user) : new_user_session_path do %>
      <input type="button" value ="begin" class="play_btn">
      <% end %>
    </div>
  </div>
</div>
